div{
	margin: 10px;
	width: 25%
}
h1, h3, span{
	font-weight: bold;
}
h1{
	font-size: 25pt;
}
ol{
	list-style: decimal inside; 
}
ul {
	list-style: disc inside;
	text-indent: 20px;
}
.numberToMatch, .winsAndLosses{
	float: left;
	width: 15%;
	height: 60px;
}
.userTotal{
	width: 15%;
	height: 60px;
}
.gems{
	clear: both;
}
.crystalImage{
	height: 60px;
	margin: 10px;
}